.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    padding: 15px;
    max-width: 1000px;
}

.container p {
    font-size: 28px;
}

.mp-a-reading-guide {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 99999999;
}

.mp-a-rm-top,
.mp-a-rm-bottom {
    position: fixed;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999999999;
    transition: all linear 0.1s;
}

.mp-a-rm-top {
    top: 0;
    border-bottom: solid 5px blue;
}

.mp-a-rm-bottom {
    bottom: 0;
    border-top: solid 5px #000;
}

.mp-a-invertColor,
.mp-a-invertColor * {
    filter: invert(70%) !important;
    -webkit-filter: invert(70%) !important;
}

.mp-a-hueColor,
.mp-a-invertColor * {
    filter: hue-rotate(90deg) !important;
    -webkit-filter: hue-rotate(90deg) !important;
}

.mp-a-darmode {
    background-color: #000000!important;
    color: #f5f5f5!important;
}

.mp-a-darmode a {
    background-color: #fffb00!important;
    color: #000 !important;
}

.mp-a-darmode * {
    background-color: rgb(107, 107, 107);
    color: #f5f5f5!important;
}

.mp-a-darmode .mp-a-rm-top,
.mp-a-darmode .mp-a-rm-bottom,
.mp-a-hueColor .mp-a-rm-top,
.mp-a-hueColor .mp-a-rm-bottom,
.mp-a-invertColor .mp-a-rm-top,
.mp-a-invertColor .mp-a-rm-bottom {
    background-color: rgba(255, 255, 255, 0.2);
}